body,html{
    overflow-x: hidden;
}
nav{
    background-color: #94d2f8;
}
nav ul li a{
    font-weight: bold;
    color: black;
}
#bg-vermelho{
    background-color: #f97c7b;
}
.btn-customizado{
    border-radius: 50px;
    margin-left: 30%;
    margin-top: 5%;
    padding: 2.5% 10%;
}
.centralizar{
    margin-top:2.5%;
}
.margem-titulo{
    padding: 5%;
    margin-left: 20%;
}
.bg-amarelo{
    background-color:#f3d766;
}
.rounded-lg{
    border-radius: 30px;
}
.bandeira{
    width: 125%;
    margin-left: -30%;
}
.bg-cinza{
    background-color: rgba(212, 210, 210);
    border-radius: 30px;
}
.container .bg-cinza a:hover{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.571);
}
#esquerdo{
    color: black;
    margin-right: 150%;
}
#direito{
    color: black;
    margin-left: 150%;
}
.bg-cinza-claro{
    background-color:rgb(235, 232, 232);
}
.rotacao{
    transform: rotate(270deg);
    margin-top: 20px;
}
.text-azul-escuro{
    color: #4562b0;
}
.bola{
    width: 200px;
    height:200px;
    border-radius: 50%;
}
.borda-grossa{
    border: 3px solid black;
}
::placeholder{
    color: rgba(0, 0, 0, 0.452)!important;
    font-weight: bold;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    h1.display-2{
        font-size: 4em;
    }
    p.lead{
        font-size: 0.75em;
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1.display-2{
        font-size: 4.5em;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }