body,html{
    overflow-x: hidden;
}
nav{
    background-color: #94d2f8;
}
nav ul li a{
    font-weight: bold;
    color: black;
}
#bg-vermelho{
    background-color: #f97c7b;
}
.btn-customizado{
    border-radius: 50px;
    margin-left: 30%;
    margin-top: 5%;
    padding: 2.5% 10%;
}
.centralizar{
    margin-top:2.5%;
}
.margem-titulo{
    padding: 5%;
    margin-left: 20%;
}
.bg-amarelo{
    background-color:#f3d766;
}
.rounded-lg{
    border-radius: 30px;
}
.bandeira{
    width: 125%;
    margin-left: -30%;
}
.bg-cinza{
    background-color: rgba(212, 210, 210);
    border-radius: 30px;
}
.container .bg-cinza a:hover{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.571);
}
.container .fa-angle-left{
    color: black;
    margin-right: 150%;
}
.container .fa-angle-right{
    color: black;
    margin-left: 150%;
}
